<div class="row" >
    <aside class="col-sm-9 col-md-7 col-lg-5 mx-auto" >
        <div class="card" id="login">
            <article class="card-body">
            
            <h4 class="card-title mb-4 mt-1">Inicia sesión</h4>
                 <form>
                <div class="form-group">
                    <label>Usuario</label>
                    <input id = "username" class="form-control" placeholder="Usuario" type="text" autocomplete="off">
                </div> <!-- form-group// -->
                <div class="form-group">
                    
                    <label>Contraseña</label>
                    <input id = "password" class="form-control" placeholder="******" type="password">
                </div> <!-- form-group// --> 
               
                <div class="form-group">
                    <button type = "button" id = "btnlogin" class="btn btn-primary btn-block">Iniciar sesión</button>
                </div><!-- form-group// -->   
                <!-- <label id="errorlabel" class="windowerrorlabel">Error Message</label>
                <label id="welcomelabel" class="windowelcomelabel">Welcome message</label> -->                                                    
            </form>
            
            </article>
            
        </div> <!-- card.// -->
    </aside>
</div>





