<div class="container-fluid cont">
    <div class="row" >
        <div class="col-xl-4" >
            <div class="col-xl-12 shadow p-3 mb-5 bg-white rounded white" >
                <div style="border-bottom: 1px solid #e0dddd; margin-bottom: 2%;"><h5><b>Elliot Stabler Benson</b></h5>
                </div>
                <h6>26/05/1980 - 40 años</h6>
                <div class="row">
                    <div class="col-sm-2" style="text-align: right;">
                        <h6 >Sexo:</h6> 
                        <h6>Correo:</h6>
                        <h6>Telefono:</h6>
                        <h6>Movil:</h6>
                        <h6>Direccion:</h6>
                    </div>
                    <div class="col-sm-10" style="text-align: left;">
                        <h6 >Masculino</h6> 
                        <h6>Ell_Ben@gmail.com</h6>
                        <h6>324 64 56</h6>
                        <h6>664 153 5445</h6>
                        <h6>Av. Revolucion #666, Tijuana B. C. Estados Unidos Mexicanos</h6>
                    </div>
                </div>

            </div>
            <div class="col-xl-12 shadow p-3 mb-5 bg-white rounded white" >
                <div style="border-bottom: 1px solid #e0dddd;"><h5 class="text-secondary"><b>Ultimos signos vitales</b> </h5></div>
                <br>
                <h5>Somatometria</h5>
                <br>
                <div class="row" style="justify-content: center;">
                    <div class="col-5">
                     <h5> <img src="../../assets/altura.png" style="height: 30px; width: 30px;">&nbsp; Estatura: </h5>
                     <h5><img src="../../assets/peso.png" style="height: 30px; width: 30px;">&nbsp; Peso: </h5>
                     <h5><img src="../../assets/imc.png" style="height: 30px; width: 30px;">&nbsp; IMC: </h5>
                    
                     
                    </div>
                    <div class="col-6">
                     <h5><label >1.8</label>&nbsp; mts</h5>
                     <h5><label >85</label>&nbsp; kg</h5>
                     <h5><label >26.2</label></h5>

                     
                    
                    
                    </div>
                </div>
                <hr style="border-top: 1px solid #999; border-bottom: 1px solid #999; border-radius: 30%;">
                <h5>Signos vitales</h5>
                <br>
                <div class="row" style="justify-content: center;">
                    <div class="col-5">
                     <h5><img src="../../assets/presion.png" style="height: 30px; width: 30px;">&nbsp; P.arterial: </h5>
                     <h5> <img src="../../assets/respiracion.png" style="height: 30px; width: 30px;">&nbsp; F.R: </h5>
                     <h5> <img src="../../assets/pulso.png" style="height: 30px; width: 30px;">&nbsp; F.C: </h5>
                     <h5> <img src="../../assets/termometro.png" style="height: 30px; width: 30px;">&nbsp; Temp: </h5>
                    </div>
                    <div class="col-6">
                     <h5><label>120/60</label>&nbsp; mmhg</h5>
                     <h5><label >120</label>&nbsp; r/m</h5>
                     <h5><label >80</label>&nbsp; p/m</h5>
                     <h5><label >36.5</label>&nbsp; &#176;C</h5>
                    </div>
                </div>
               
                
                
            </div>
        </div>
        <div class="col-xl-4 shadow p-3 mb-5 bg-white rounded white" >
            <div style="border-bottom: 1px solid #e0dddd;">
                <h5 class="text-secondary"><b>Antecedentes</b> </h5>
            </div>
            <br>
            <h5 id="addAl" class="text-primary"><i  class="fas fa-plus-square" style="cursor: pointer;"></i> Alergias</h5>
            <div id="alergias" >
                <div class="row" style="margin: 1%;">
                    <div class="col-xl-12" id="AMedicamentos" style="margin-top: 1%;">
                        <h6 style="color: #f80000;"><i class="fas fa-exclamation-triangle"></i> Alergias a medicamentos:</h6>
                    </div>
                </div>
                <div class="row" style="margin: 1%;">
                    <div class="col-xl-12" id="AGenerales" >
                        <h6 style="color: #f80000;"><i class="fas fa-exclamation-triangle"></i> Otras alergias:</h6>
                    </div>
                </div>
                
            </div>
            
            <h5 id="addAP" class="text-primary"><i  class="fas fa-plus-square" style="cursor: pointer; margin-top: 3%;"></i> Antecedentes patologicos</h5>
            <div id="antecedentesPatologicos" style="margin-top: 2%;">
                <div class="row" style="border-bottom: solid 1px #e0dddd;">
                    <div class="col-xl-6">
                        <h6>Antecedes negados</h6>
                        
                    </div>
                    <div class="col-xl-6">
                        <h6>Hospitalizacion, adiccion al alcohol, consumo de heroina, cáncer, traumatizmos, Cardiopatias</h6>
    
                    </div>
    
                </div>
                <div class="row" style="border-bottom: solid 1px #e0dddd;">
                    <div class="col-xl-6">
                        <h6>Cirugias previas</h6>
                        
                    </div>
                    <div class="col-xl-6">
                        <h6>Extripacion de apéndice</h6>
    
                    </div>
                </div>
                <div class="row" style="border-bottom: solid 1px #e0dddd;">
                    <div class="col-xl-6">
                        <h6>Diabetes</h6>
                    </div>
                    <div class="col-xl-6">
                        <h6> Abuela paterna, Abuelo materno</h6>
    
                    </div>
                </div>
            </div>
            
            
            <h5 id="addANP" class="text-primary"><i class="fas fa-plus-square" style="cursor: pointer; margin-top: 3%;"></i> Antecedentes no patologicos</h5>
            <div id="antecedentesNoPatologicos" style="margin-top: 2%;">
                <div class="row" style="border-bottom: solid 1px #e0dddd;">
                    <div class="col-xl-6">
                        <h6>Antecedes negados</h6>
                        
                    </div>
                    <div class="col-xl-6">
                        <h6>Hospitalizacion, adiccion al alcohol, consumo de heroina, cáncer, traumatizmos, Cardiopatias</h6>
    
                    </div>
    
                </div>
                <div class="row" style="border-bottom: solid 1px #e0dddd;">
                    <div class="col-xl-6">
                        <h6>Cirugias previas</h6>
                        
                    </div>
                    <div class="col-xl-6">
                        <h6>Extripacion de apéndice</h6>
    
                    </div>
                </div>
                <div class="row" style="border-bottom: solid 1px #e0dddd;">
                    <div class="col-xl-6">
                        <h6>Diabetes</h6>
                    </div>
                    <div class="col-xl-6">
                        <h6> Abuela paterna, Abuelo materno</h6>
    
                    </div>
                </div>
            </div>
            <h5 id="addAH" class="text-primary"><i class="fas fa-plus-square" style="cursor: pointer; margin-top: 3%;"></i> Antecedentes heredofamiliares</h5>

            <div id="antecedentesHeredoFamiliares" style="margin-top: 2%;">
                <div class="row" style="border-bottom: solid 1px #e0dddd;">
                    <div class="col-xl-6">
                        <h6>Antecedes negados</h6>
                        
                    </div>
                    <div class="col-xl-6">
                        <h6>Hospitalizacion, adiccion al alcohol, consumo de heroina, cáncer, traumatizmos, Cardiopatias</h6>
    
                    </div>
    
                </div>
                <div class="row" style="border-bottom: solid 1px #e0dddd;">
                    <div class="col-xl-6">
                        <h6>Cirugias previas</h6>
                        
                    </div>
                    <div class="col-xl-6">
                        <h6>Extripacion de apéndice</h6>
    
                    </div>
                </div>
                <div class="row" style="border-bottom: solid 1px #e0dddd;">
                    <div class="col-xl-6">
                        <h6>Diabetes</h6>
                    </div>
                    <div class="col-xl-6">
                        <h6> Abuela paterna, Abuelo materno</h6>
    
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-xl-4">
            <div style=" margin-bottom: 5%;"><h4 class="text-secondary"><b>Citas previas</b> </h4 ></div>
            <div class="col-xl-12 white shadow p-3 mb-5 bg-white rounded " style=" border: 1px solid #e0dddd; border-left: 10px solid #007bff;" >
                <div class="row">
                    <div class="col-xl-4" style="text-align: center; border-right: 2px solid #e0dddd;   display: grid; align-items: center;">
                        <h4 style="color: #b6afac;"><B>28</B></h4>
                        <h3 style="color: #7E7E82;"><b>DIC</b></h3>
                        <h4 style="color: #b6afac;"><b>2020</b></h4>
                       </div>
                       <div class="col-xl-8">
                        <h4><b>Gripa</b></h4>
                        <h6 style="margin-top: 10%;">Tempra Forte orte (Paracetamol) 650mg. 1 c/12 hrs.</h6>
                       </div>
                </div>
               
            </div>
            <!---------------------------------------------------------------------------------------------------->
            <div class="row" style="justify-content: center;">
                <div class="col-xl-8" >
                    <button type = "button" id = "btnStart" class="btn btn-primary btn-block">Iniciar consulta</button>
                </div>
            </div>

    </div>
</div>

<!------------------------------------------>
<div class="modal fade" id="antecedentesModal" >
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="contentmod">
            <div class="modal-header" style="background-color: #0275d8; color: white">
                <h5 class="modal-title" id="titlemodalante" ></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="alertbody">
                <textarea name="paragraph_text" cols="50" rows="3"  class="form-control" id="firstbox"></textarea><br>
                <textarea name="paragraph_text" cols="50" rows="3"  class="form-control" id="secondbox"></textarea>
            </div>
            <div class="modal-footer">
                <i class="fas fa-check-circle agregado"  id="animagregado"></i>
                <button type="button" class="btn btn-primary" id="agregar">Agregar</button>
                <button type="button" class="btn btn-primary" id="finalizar" data-dismiss="modal">Finalizar</button>                
            </div>
        </div>
       
   </div> 
</div>