<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    
    <a class="navbar-brand" href="index">
        <img src="../../../../assets/LogoAHC_BW.svg"  height="50" class="d-inline-block align-to">
    </a>
    <ul class="navbar-nav" id="menu">
        
       
    </ul>
    <div id="user">
       
    </div>
    <div class="container justify-content-sm-end">      
        
        <div id="userdata">
            <div id="usernameL">

            </div>
            <div id="userrole">
                
            </div>
            
        </div>
        <div id = "exit">
                <i id = "exiticon"></i>
        </div>
      
       
       
    </div>
    

   
   
</nav>


<div class="modal fade" id="alertModal" >
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="contentmod">
            <div class="modal-header" >
                <h5 class="modal-title" id="titlemodalalert" ></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="alertbody">
                <label class="col-form-label" id="mensaje" ></label>
            </div>
        </div>
   </div> 
</div>







  <!--col-12 col-md-3 col-xl-2 bd-sidebar-->