
<div class="container-fluid">
    <div class="col-sm-3">
        <select class="custom-select custom-select-sm" id="selectmedico2" style="font-size: 12pt; margin: 3%;">
          <option value="0" selected disabled> Seleccione un medico</option>
        </select>
      </div>
<div class="row">
	<div class="col-sm-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
                            <th><span>Paciente</span></th>
                            <th><span>Sexo</span></th>
                            <th><span>Edad</span></th>
							<th><span>Hora cita</span></th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody id="tbody">

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>
